*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 2px rgb(216, 216, 216);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(3px);
}

input[type="text"],input[type="password"]{
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
    border: 0px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
}

.remember{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.remember a{
    color: rgb(142, 178, 250);
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button{
    align-self: center;
}

.register{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(216, 216, 216);
    text-align: center;
    margin: 15px;
}

.register a{
    color: rgb(142, 178, 250);
}

label{
    margin: 5px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(216, 216, 216);
    text-shadow: 0.5px 0.5px 0.5px black;
}

button{
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    border: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

button:hover{
    cursor: pointer;
}

button:active{
    transform: scale(1.05);
}
